body{

    background-image: url(Fondo\ Negro\ Fondo\ Nocturno\ Banderines\ Toallas\ Sanitarias\,\ Toallas\ Sanitarias\,\ En\,\ Mapa\ Principal\ Imagen\ de\ Fondo\ Para\ Descarga\ Gratuita\ -\ Pngtreee.jfif);
    background-position: center;
    background-repeat: no-repeat;
}